
.user-card-list {
  display:flex;
  background-color: #ffffff;
  border-radius: 20px;
  height: 130px;
  margin: 20px 45px;
  &-img {
    margin: auto 48px;
    margin-right: 0;
    img{
      width: 50%;
      height: 50%;
    }
  }
  &-info {
      margin: auto;
  }
}