.xuanjiao {
  height: 100%;
  &-search{
    background-color: #fff;
    padding-top: 10px;
    &-input{
      border: none;
      background-color: rgba(204, 204, 204, 0.22);
      line-height: 3;
      text-align: center;
      width: 80%;
      margin: auto;
      display: block;
      border-radius: 15px;
    }
  }
}
.jiankang-list {
  display: flex;
  flex-wrap: wrap;
  &-title {
    float: left;
    margin-right: 10px;
  }
  &-houzui {
    display: inline-block;
    border: 1px solid #4cabcf;
    border-radius: 20px;
    font-size: 12px;
    min-width: 30px;
    float: right;
    color: #4cabcf;
    padding: 2px;
    text-align: center;
  }
  &-biaoqian {
    color:#ccc;
    font-size: 15px;
  }
}
.xuanjiao-img{
  height: 50px;
  width: 50px;
}
.jiankang-pat {
  height: 100%;
  .yingchang{
    display: none;
  }
}
.info{
  height: 100%;
}
.weui-search-bar::before{
  border-top:none !important;
}
.weui-search-bar::after{
  border-bottom:none !important;
}