@import "mixins";

html, body {
  background: #f2f2f2;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  -webkit-tap-highlight-color: transparent;
}
.home {
  position: relative;
  top: 0;
  width: 100%;
  height: 44px;
  text-align: center;
  line-height: 44px;
  z-index: 120;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  background: #4FABCA;
  .jian{
    height:35px;
    display:block;
    width:50px;
    position: absolute;
    left: 0;
  }
  &:after {
    content: ' ';
    position: absolute;
    left: 15px;
    top: 50%;
    width: 9px;
    height: 9px;
    border-left: 2px solid rgba(255, 255, 255, 0.95);
    border-top: 2px solid #f1f3f6;
    -webkit-transform: translate(-4px, -50%) rotate(-45deg);
    -moz-transform: translate(-4px, -50%) rotate(-45deg);
    -ms-transform: translate(-4px, -50%) rotate(-45deg);
    transform: translate(-4px, -50%) rotate(-45deg);
  }
}
.hear {
  position: relative;
  top: 0;
  width: 100%;
  height: 35px;
  color: white;
  text-align: center;
  z-index: 120;
  background: #4FABCA;
}
.wgt-container{
  background:#f2f2f2;
  .weui-dialog__btn_primary {
    color: #4FABCA !important;
  }
  .weui-dialog__btn {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #4FABCA ;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
  }
  .weui-icon-clear {
    color: red;
    font-size: 14px;
    position: absolute;
    right: -7px;
    top: -6px;
    z-index:10;
  }
  .weui-dialog__btn_default {
    color: #353535;
  }
}

//页脚
.wgt-footer{
  position: relative;
  z-index: 1;
  background: #f2f8f8;
  text-align: center;
  display: flex;
  flex-direction: column;

  .wgt-footer__main{
    color: $title-color;
    font-size: 14px;
    line-height: 1;
    padding-top: 5px;
  }

  .wgt-footer__text{
    flex: 1;
    color: $text-color;
    font-size: 12px;
  }
}

//页面容器
.wgt-page {
  -webkit-overflow-scrolling: touch;
  //z-index: 1; 会引起pupup蒙层无法覆盖footer
  /*	flex: 1;
      position: relative;*/
}

//医生头像
.wgt-header-img {
  width: .35rem;
}

//用户头像
.wgt-user-img {
  width: .44rem;
  text-align: center;

  img {
    width: .44rem;
    height: .44rem;
    border-radius: 3px;
    vertical-align: top;
  }
}

//加载中
.wgt-loading {
  padding-top: 1.2rem;

  .wgt-loading-img {
    width: 100%;
    height: .3rem;
    padding: .24rem 0;
  }
}

//无结果
.wgt-noresult {
  text-align: center;

  padding-top: 0.64rem;
  .wgt-noresult-img {
    width: 100%;
    height: 1rem;
    img {
      width: 1rem;
    }
  }
  .wgt-noresult-txt {
    font-size: 18px;
    color: #4c4c4c;
    padding: .16rem 0;
  }

}

//获取数据等待
.wgt-getdata {
  text-align: center;
  padding: .20rem 0;
}

//修正高清问题

.hairline-remove-right-bottom {
  border-bottom: 0;
}

.hairline-remove-right-bottom:after {
  display: none;
}

.hairline-remove-right-bottom-bak:after {
  display: none;
}

.hairline-remove-left-top:before {
  display: none;
}

.am-picker-popup {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.am-picker-popup-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-scrolling: touch;
  outline: 0;
}

.am-picker-popup-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  z-index: 1000;
}

.am-picker-popup-mask-hidden {
  display: none;
}

.am-picker-popup-header {
  background-image: -webkit-linear-gradient(top, #e7e7e7, #e7e7e7, transparent, transparent);
  background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7, transparent, transparent);
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.am-picker-popup-header:after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  width: 100%;
  border-bottom: 1PX solid #ddd;
}

.am-picker-popup-header .am-picker-popup-header-right {
  text-align: right;
}

.am-picker-popup-item {
  color: $primary-color;
  font-size: 34px;
  padding: 18px 30px;
}

.am-picker-popup-item-active {
  background-color: #ddd;
}

.am-picker-popup-title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  color: #000;
}

.am-picker-popup .am-picker-popup-close {
  display: none;
}

.hairline-remove-right-bottom {
  border-bottom: 0;
}

.hairline-remove-right-bottom:after {
  display: none;
}

.hairline-remove-right-bottom-bak:after {
  display: none;
}

.hairline-remove-left-top:before {
  display: none;
}

.am-picker-col {
  display: block;
  position: relative;
  height: 476px;
  overflow: hidden;
  width: 100%;
}

.am-picker-col-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 204px 0;
}

.am-picker-col-item {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-align: center;
  font-size: 32px;
  height: 68px;
  line-height: 68px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.am-picker-col-item-selected {
  font-size: 34px;
}

.am-picker-col-mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6)), linear-gradient(to top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.6));
  background-position: top, bottom;
  background-size: 100% 204px;
  background-repeat: no-repeat;
}

.am-picker-col-indicator {
  box-sizing: border-box;
  width: 100%;
  height: 68px;
  position: absolute;
  left: 0;
  top: 204px;
  z-index: 3;
  border-top: 1PX solid #ddd;
  border-bottom: 1PX solid #ddd;
}

.am-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.am-picker-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.am-picker-popup-item {
  color: $primary-color;
  font-size: 17px;
  padding: 9px 15px;
}

.am-picker-col {
  height: 238px;
}

.am-picker-col-content {
  padding: 102px 0;
}

.am-picker-col-item {
  font-size: 16px;
  height: 34px;
  line-height: 34px;
}

.am-picker-col-item-selected {
  font-size: 17px;
}

.am-picker-col-mask {
  background-size: 100% 102px;
}

.am-picker-col-indicator {
  height: 34px;
  top: 102px;
}

