@charset "utf-8";

@import "../../../../resources/styles/mixins";


.page1-pay {

    .fee-box {
        height: 124px;
        background-color: #fff;
        margin: 5px 10px;
        border-radius: 5px;
        .warm-tip1 {
            height: 22px;
            background-color: #ea6ea4;
            color: white;
            font-size: 11px;
            text-align: center;
            line-height: 22px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .fee-item{
            height: 104px;
            font-size: 30px;
            color: #ea6ea4;
            text-align: center;
            font-weight:bold;
            .des-fee {
                font-size: 11px;
                color: #666;
                padding-left: 6px;
            }
        }
    }
    .mm-list {
        padding:0;
        margin: 0 10px 5px;
        border-radius:5px;
        background-color: #fff;
       
        .list {
            padding: 0 10px;
            .list-item {
                padding: 0;
                font-size: 13px;
                height: 44px;
                line-height: 44px;
                display: flex;
                align-items: center;
                position:relative;
                img{
                    width:16px;
                    height:16px;
                    position:absolute;
                    left:0;
                    top:13px;
                }
                .item-label {
                    color:#666;
                    min-width: 5em;
                    padding-left:25px;
                }
                .item-value {
                    color: #333;
                    flex: 1;
                    word-wrap: break-word;
                    white-space: pre-wrap;
                    text-align: right;
                    overflow: hidden;
                    margin-left: 10px;
                }

            }
            .list-item:not(:last-child){
                border-bottom:1px solid #ccc;
            }

        }
    }
    .list-tit {
        padding: 0 15px;
        font-weight: 600;
        font-size: 14px;
        color: $hc-color-title;
    }
     .warm{
        font-size: 11px;
        padding: 6px 20px;
        color: #4cabcf;
     }
    .btn{
        margin: 20px 10px;
        .submit-btn {
            background-color: $hc-color-primary;
            color: #fff;
            border:none;
            font-size: 18px;
            height: 49px;
            margin:  0; 
            position:relative;
            display:block;
            width:100%;
            padding-left:0;
            padding-right:0;
            box-sizing:border-box;
            text-align:center;
            text-decoration:none;
            line-height:2.55555556;
            border-radius:5px;
            -webkit-tap-highlight-color:transparent;
            overflow:hidden;


        }
    }
    .jigaoyanse{
        margin:0 10px 10px 10px;
        &-tebie{
            color: red;
        }
    }
}