# Created by .ignore support plugin (hsz.mobi)
# test merge
/output
/dist
dist

.DS_Store
/.idea
.idea
/.history
.history
.idea
**/META-INF
gitlab-token.js
*.iml
npm-debug.log
node_modules
/node_modules
/.vscode
.vscode
/dist
dist