<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"> -->
  <link rel="stylesheet" href="./iconfont/iconfont.css">
  <title>互联网医院后台</title>
  <script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>

</head>

<body>
  
  <div id="root" style="height:100%;"></div>
</body>

</html>
