@charset "utf-8";

@import "../../../../resources/styles/mixins";

.page-order-list {
    .page-add-confirm {
        .container {
            background:#f2f2f2;
            .personInfo{
                height:45px;
                display: flex;
                align-items: center;
                background: white;
                border-bottom:1px solid #f2f2f2;
                div{
                    flex:1;
                    height:45px;
                    line-height: 45px;
                    text-align: center;
                    font-size:16px;
                    align-items: center;
                    .active{
                        width:50px;
                        height:45px;
                        margin:0 auto;
                        line-height: 45px;
                        display: block;
                        text-align: center;
                        color:#4dabc7;
    
                        border-bottom: 2px solid #4dabc7;
                    }
                }
            }
            .doctorInfo{
    
                height:106px;
                background: white;
                margin-bottom:10px;
    
                a{
                    display:flex;
                    height:106px;
                    align-items: center;
                    div{
                        font-size:13px;
                        color:rgb(51,51,51);
                    }
                    .img{
                        flex:1;
                        align-items: center;
                        image{
                            width:106px;
                            height:106px;
                            margin-left:15px;
                            background: #4dabc7;
                            border:1px solid #4dabc7;
                            border-radius:50%;
                        }
    
                    }
                    .basic{
                        padding-left: 10px;
                        div{
                            margin:5px auto;
                        }
                        flex:3;
                        align-items: left;
                        span{
                            font-weight: bold;
                            color:rgb(51,51,51);
                            font-size:16px;
                             padding-right: 10px;
                        }
                    }
                    .registerTime{
                        font-size:12px;
                        color:rgb(77,171,199);
                        font-weight: bold;
                    }
                    .status{
                        position:absolute;
                        right:10px;
                        .disNo{
                            color:#999;
                            border:1px solid #ccc;
    
                        }
                        p{
                            width:71px;
                            height:27px;
                            line-height: 27px;
                            color:#4dabc7;
                            display: block;
                            margin-left:10px;
                            border:1px solid #4dabc7;
                            border-radius: 5px;
                            text-align: center;
                        }
                        .disNo{
                            width:71px;
                            height:27px;
                            line-height: 27px;
                            color:#999;
                            display: block;
                            margin-left:10px;
                            border:1px solid #999;
                            border-radius: 5px;
                            text-align: center;
                        }
                    }
                }
            }
    
    
            .main {
                background:white;
                div {
                    height: 40px;
                    line-height: 40px;
                    width: auto;
                    padding: 0 10px;
                    text-align: left;
                    font-size: 13px;
                    color: #333;
                    border-bottom: 1px solid #f2f2f2;
                    span {
                        font-weight: bold;
    
                    }
    
                }
            }
            .confirm {
                margin-top:10px;
                image {
    
                    margin-left:10px;
                    width: 355px;
                    height: 35px;
    
                }
    
            }
        }
        .return{
            width:auto;height:120px;line-height:30px;text-align:center;padding:40px;color:#b1b1b1;
        }
    }
    
    .reportlist{
        .checkContent{
            padding-top:7px;
            .check-item{
                 .register-time{
                    height: 25px;
                    line-height: 20px;
                    text-align: center;
                    span{
                        width:auto;
                        height: 20px;
                        background: rgb(174,174,174);
                        font-size: 11px;
                        border-radius: 5px;
                        line-height: 20px;
                        display: inline-block;
                        color: white;
                        padding:0 5px;
                    }
                 }
                 .main-content{
                     border-radius:5px;
                      margin:7px 10px;
                      background: white;
                      font-size:14px;
                      padding:0 10px;
                      .basic-info{
                          padding:10px 0;
                          border-bottom:1px solid #ccc;
                          div:last-child{
                              padding-bottom:0 !important;
                          }
                          >div{
                            padding-bottom:7px;
                              display:flex;
                              p{
                                  flex:1;
                                  color:#666;
                                  span{
                                      color:#333;
                                  }
                              }
                              p:last-child{
                                  text-align: right;
                                  flex:2;

                              }
                              p:first-child{
                                text-align: left;

                            }
                          }
                      }
                      .basic-status{
                          height:40px;
                          line-height: 40px;
                          display: flex;
                          font-size:15px;
                          position: relative;
                            &:after{
                                content: ' ';
                                position: absolute;
                                right: -3px;
                                 bottom:15px;
                                width: 9px;
                                height: 9px;
                                border-right: 2px solid #C7C7CC;
                                border-bottom: 2px solid #C7C7CC;
                                transform: translate(-4px) rotate(-45deg);
                            }
                          p{
                              flex:1;

                          }
                          p:first-child{
                              color:#4cabcf;
                              text-align: left;
                          }
                          p:last-child{
                            color:#ea6ea4;
                            text-align: right;
                            padding-right: 15px;
                        }
                      }
                
                 }

            } 
        }
        .report-item{
            margin-top: 10px;
            background: white;
            position: relative;
            padding-top: 10px;
            .report-status{
                position: absolute;
                left: 85%;
                font-size: 15px;
                top: 5px;
                color: #fe6131;
            }
            .report-info{
                padding-bottom: 10px;
                p{
                    font-size: 13px;
                    color: #2c2c2c;
                    height: 25px;
                    padding-left: 10px;
                }
            }
            .report-oper{
                border-top: 1px solid #f2f2f2;
                height: 30px;
                line-height: 30px;
                text-align: right;
                padding: 10px;
                span{
                    background: #4dabc7;
                    color: white;
                    width: auto;
                    padding: 5px;
                    border-radius: 3px;
                    font-size: 12px;
                }
            }
        }
    }
    .doc-item {
        height: 203px;
        margin-bottom: 10px;

        background-color: #fff;
    }
    .doc-info {
        display: flex;
        padding: 15px 0;
        margin: 0 15px;
        height: 67px;
        border-bottom: 1px solid $hc-color-border;
    }
    .classify{
        height: 45px;
        line-height: 45px;
        display: flex;
        margin-top: 44px;
        background: #4cabcf;
        font-size: 15px;
        font-weight: bold;

        border-bottom:1px solid #e9e9e9;
        .item-active{
            color:#333;
            background:#f2f2f2;
          
        }
        p{
            flex: 1; 
            color:white;
            text-align: center;
            position:relative;
            padding-top: 10px;
            font-size:11px;
            img{
                position: absolute;
                width: 18px;
                height: 18px;
                left: 43%;
                top: 5px;
            }
        }
    }
    .doc-img {
        /* display: flex; */
        width: 60px;
        height: 67px;
    }
    .text-box11 {
        padding-left: 15px;
        flex: 1;
        .doc-name {
            color: $hc-color-title;
            font-size: 18px;
        }
        .doc-des {
            color: $hc-color-gray;
            font-size: 13px;
        }
    }
    .msg-box {
        display: flex;
        justify-content: space-between;
        color: $hc-color-gray;
        font-size: 13px;
        height: 60px;
        border-bottom: 1px solid $hc-color-border;
        line-height: 24px;
        margin: 0 15px;
    }
    .msg-box>div:nth-child(1) {
        margin: 7px 0;
    }
    .oper-box {
        display: flex;
        justify-content: space-between;
        .status-name{
            flex: 1;
            text-align: right;
            margin-right: 15px;
            float: right;
            line-height: 45px;
            font-size: 13px;
            color: $hc-color-gray;
        }
        .eva-item {
            width: 73px;

            .evaluate {
                border: 1px solid $hc-color-primary;
                border-radius: 3px;
                float: right;
                line-height: 24px;
                font-size: 13px;
                width: 60px;
                text-align: center;
                height: 24px;
                margin: 10px 15px;
                color: $hc-color-primary;
            }
        }
        .pat-item {
            line-height: 45px;
            margin-left: 15px;
            color: $hc-color-gray;
            font-size: 13px;
        }
    }
    .complete {
        border: 1px solid #D8D8D8;
        background-color: #D8D8D8;
        color: #fff;
    }
    .price-box {
        display: flex;
        color: $hc-color-pink;
        font-size: 17px;
        line-height: 60px;
    }

    ul{
        color:darkgrey;
        font-size: 15px;
        display: flex;
        background-color: #fff;
        margin-bottom: 10px;
        line-height: 44px;
        text-align: left;
        width: 70% !important;
        height: 44px;
        padding-left: 15px;
        position: relative;
        .default-item { 
            text-align: center;
            flex: 0.6;
        }
        .showColor{
            color:#2c2c2c;
        }

        .isShowColor {
            text-align: left;
            flex: 1;
            color:#2c2c2c;
            &:after{
                content: ' ';
                position: absolute;
                left: 100px;
                top: 45%;
                width: 8px;
                height: 8px;
                border-right: 2px solid #2c2c2c;
                border-bottom: 2px solid #2c2c2c;
                transform: translate(-4px, -50%) rotate(45deg);
            }
        }
        .default-item1 {
            text-align: left;
            flex: 1;
            &:after{
                content: ' ';
                position: absolute;
                left: 100px;
                top: 45%;
                width: 8px;
                height: 8px;
                border-right: 2px solid darkgrey;
                border-bottom: 2px solid darkgrey;
                transform: translate(-4px, -50%) rotate(45deg);
            }
        }
    }
    .no-data{
        text-align: center;
        padding-top: 100px;
        font-size: 16px;
        color: $hc-color-text;
        img{
            width: 125px;
            height: 125px;
            margin-bottom: 25px;
        }
    }
    .modal2{
        position: absolute;
        /* top: 80px; */
        /* bottom: 0; */
        /* left: 0; */
        height: 100%;
        line-height: 44px;
        top: 88px;
        /* right: 0; */
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 100;
        -webkit-box-align: top;
        -webkit-align-items: top;
        -moz-box-align: top;
        -ms-flex-align: top;
        align-items: top;
        -webkit-box-pack: top;
        -webkit-justify-content: top;
        -moz-box-pack: top;
        -ms-flex-pack: top;
        justify-content: top;
        border-top: 1px solid #e9e9e9;
        .modal-body{
            width: 100%;
            box-sizing: border-box;
            background: #fff;
            padding-left:15px;
            font-size:15px;
            color:$hc-color-gray;
            .showColor{
                color:#2c2c2c;;
            }
            .modal-list {
                height: 44px;
                line-height: 44px;
                border-bottom: 1px solid $hc-color-border;

            }
        }
    }
}