@charset "utf-8";

@import "../../../../resources/styles/mixins";


.page-mdt-report{
        .title{
            padding: 25px 0px;
            border-bottom: 1px dashed #d5d5d5;
            div:nth-of-type(1){
                text-align: center;
                font-size: 20px;
                color: #333;
                font-weight: 600;
            }
            div:nth-of-type(2){
                text-align: center;
                font-size: 15px;
                color: #333;
            }
        }
        .people{
            margin-top: 10px;
            image{
                margin-right:6px;
                width: 15px;
                height: 15px;
                vertical-align: middle;
            }
            span{
                font-size: 15px;
                color: #666;
                font-weight: 600;
            }
            .peopleMsg{
                display: flex;
                align-items: center;
                margin-top: 10px;
                background: white;
                border-radius: 10px;
                padding: 15px 10px;
                .name{
                    width: 55px;
                    height: 55px;
                    background: #50abca;
                    color: white;
                    text-align: center;
                    line-height: 55px;
                    border-radius: 50%;
                    margin-right: 15px;
                }
                .msg{
                    flex:1;
                }
                div{
                    display: inline-block;
                    text{
                        display: block;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    

    .descript{
         margin-top: 10px;
            image{
                margin-right: 6px;
                width: 15px;
                height: 15px;
                vertical-align: middle;
            }
            span{
                font-size: 15px;
                color: #666;
                font-weight: 600;
            }   
            .descript1{
                margin-top: 10px;
                background: white;
                border-radius: 10px;
                padding: 15px 10px 0px;
                box-sizing: border-box;
                .imageType{
                    margin-top: 9px;
                    >image{
                        width: 4px;
                        height: 12px;
                        margin-left: -10px;
                    }
                    >div{
                        margin-top: 9px;
                        image{
                            width: 70px;
                            height: 70px;
                            margin-bottom: 10px;
                            margin-right: 13px;
                        }
                    }
                }
            }    
    }
    .doctorReport{
        background: white;
        border-radius: 10px;
        padding: 15px 10px;
        margin-top: 5px;
        .dept{
            border-bottom: 1px solid #eee;
            //padding-bottom: 20rpx;
            margin-bottom: 15px;
            .deptName{
                color: #50abca;
                margin-bottom: 10px;
                font-weight: 600;
            }
        }
        .doctorDes{
            margin-bottom: 15px;
        }
        .dept:nth-last-of-type(1){
            border: 0;
        }
    }
    .agree{
        width: 100%;
        height: 100rpx;
        color: white;
        line-height: 50px;
        text-align: center;
        border-radius: 10px;
        background: #50abca;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}