@charset "utf-8";

@import "../../../../resources/styles/mixins";


.page-ask-question {
  
.modal-tip1{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6);
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-title {
      padding: 25px 0 8px;
      font-size:18px;
      color: $hc-color-title;
      text-align: center;
  }
  .modal-body-tip{
      text-align: left;
      width: 75%;
      overflow: auto;
      box-sizing: border-box;
      border-radius: 4px;
      background: #fff;
      .modal-content-tip {
          padding: 0;
          overflow: auto;
          font-size: 15px;
          color: $hc-color-gray;
          line-height: 1.5;
          text-align: center;
          img{
            width: 82px;
            height: 72px;
            padding-top: 20px;
          }
          .text{
            color: #4cabcf;
            padding-bottom: 10px;
          }
          .btn-close{
              text-align: center;
              margin-top:0;
              width: auto;
              height: auto;
              p{ 
                width: 100%;
                  background: #4cabcf;
                  height: 44px;
                  color: white;
                  line-height: 44px;
                  display: block;
                  letter-spacing: 10px;
                  margin: 0 auto;
                  text-align: center;
                  font-size: 17px;
                  border-radius:0px;
              }
          }
          .content-item {
              font-size: 13px;
             color: #333;
              padding-bottom: 10px;
          }
      }

  }
  .modal-footer-tip{
      border-top: 1px solid $hc-color-border;
      display: flex;
      background-color:#fff;
  }
  .modal-footer-tip>span{
      flex: 1;
      box-sizing: border-box;
      text-align: center;
      color: $hc-color-primary;
      font-size: 18px;
      height: 50px;
      line-height: 50px;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
}
    background: white;

    height: 100%;
    .submit{
      bottom:0;
      height: 49px;
      line-height: 41px;
      position: fixed;
      text-align: center;
      display: block;
      width: 100%;
      background: #4cabcf;
      color: white;
      z-index:100;
      font-size: 18px;
  }
    
.home {
  position: relative;
  top: 0;
  width: 100%;
  height: 44px;
  text-align: center;
  line-height: 44px;
  z-index: 120;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
  background: #4FABCA;
  .jian{
    height:35px;
    display:block;
    width:50px;
    position: absolute;
    left: 0;
  }
  &:after {
    content: ' ';
    position: absolute;
    left: 15px;
    top: 50%;
    width: 9px;
    height: 9px;
    border-left: 2px solid rgba(255, 255, 255, 0.95);
    border-top: 2px solid #f1f3f6;
    -webkit-transform: translate(-4px, -50%) rotate(-45deg);
    -moz-transform: translate(-4px, -50%) rotate(-45deg);
    -ms-transform: translate(-4px, -50%) rotate(-45deg);
    transform: translate(-4px, -50%) rotate(-45deg);
  }
}
.patInfo{
    background: #4cabcf;
    height: auto;
    margin-top: 44px;
    padding: 10px 20px 20px;
   .item{
     height:30px;
     line-height: 30px;
     display:flex;
     p{
       flex:1;
       font-size:15px;
       color:white;
       text-align: left;
     }
     p:nth-child(2){
       text-align: right;
     }
   }

}
.question{
  background:white;
  position: relative;
  padding-bottom:40px;
  .title{
    width: auto;
    position: absolute;
    left: 50%;
    max-width: 300px;
    padding: 0 10px;
    transform: translate(-50%, -50%);
    margin: auto;
    top: -1px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #4cabcf;
    background: white;
    color: #4cabcf;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

   
  .cont{
    background:white;
    padding: 30px 20px 0;
    .item{
      padding-bottom: 20px;
      .tit{
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: #333;
      }
      .answer{
        
        text-align: left;
        p{
          font-size: 15px;
          line-height: 40px;
          padding-left: 35px;
          text-align: left;
          color: #333;
          position: relative;
          .dan{
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 12px;
          }
          .double{
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 11px;
          }
        }
      }
    }
  }
  
  
}
   


}