.jianche-select {
  display: flex;
}
select::-ms-expand{ display: none; }
select{
  //默认样式清楚
    appearance:none; 
    -moz-appearance:none; 
    -webkit-appearance:none;
    background: url("arrow.png") no-repeat scroll right center transparent;
    padding-right: 24px;
    // option
    option::-ms-expand{ display: none; }
    option{
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari 和 Chrome */
      appearance:none;
    }
}

.form-btn {
  display: flex;
  justify-content: space-around;
  &-quxiao {
    width: 100px;
  }
}
.jianche-type {
  margin: 15px;
  &-neirong {
    padding: 15px 0 15px 30px;
  }
}
.jianche-flex-list {
  margin-bottom: 12px;
  line-height: 2;
  img{
    width: 18px;
  }
  &-biaoqian{
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
  }
}
.jianche-flex-list-item {
  text-align: end;
  flex:0.2 !important;
}
.jianche-flex-list-span {
  border: 1px solid #50abca;
  border-radius: 15px;
  margin-left: 8px;
  padding: 3px;
  min-width: 30px;
  margin: 2px;
  text-align: center;
  // line-height: 2;
  color:#50abca;
  font-size: 10px;
}
.historyDingwei{
  position: relative;
}
.jianche-shuju {
  margin: 15px;
  .history-data {
    margin-bottom: 5px;
    text-align: center;
    flex-wrap:wrap;
    .historyStart{
      min-width: 150px;
    }
    .history-form-select{
      border: none;
      line-height: 2.5;
      // margin-left: 10px;
      width: 100%;
      padding-left: 0px !important;
      border-radius: 16px;
      text-align: center;
      text-align-last: center;
      background: rgba(238,238,238,0.5);
      position: relative;
    }
    .add-form-select-jiantou{
      position: absolute;
      margin-top: 15px;
      margin-left: -25px;
      border-width: 7px;
      border-style: solid;
      border-color: #888888 transparent transparent transparent;
    }
    
    &-flex {
      border-radius: 16px;
      background: rgba(238,238,238,0.5);
      height: 44px;
      line-height: 44px;
      margin-right: 5px;
      margin-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      .add-form-select-input-jiantou{
        position: absolute;
        top: 17px;
        right: 15px;
        border-width: 7px;
        border-style: solid;
        border-color: #888888 transparent transparent transparent;
      }
    }
    .addcolor {
      color: #50abca;
      border: 1px solid #4cabcf;
    }
    .am-list-body::before{
      background-color:#fff !important;
    }
    .am-list-body::after{
      background-color:#fff !important;
    }
    .weui-select{
      border-radius: 16px;
      background: rgba(238,238,238,0.5);
    }
  }
}
.jianche-shuju-list-item {
  text-align: center;
}

.add-data {
  margin: 10px auto;
  // margin-bottom: 10px;
  height: 44px;
  line-height: 44px;
}
.add-form-oneflex {
  height: 44px;
  line-height: 44px;
}
.tixing{
  // margin-top: 10px;
}
// .tixing-input{
//   width: 20px;
//   height: 20px;
//   border: 2px solid #4cabcf;
//   border-radius: 15px;
//   margin-right: 10px;
// }
.tixing{
  .am-checkbox-agree .am-checkbox-inner{

  }
  .am-checkbox.am-checkbox-checked .am-checkbox-inner{
    border-color: #4cabcf !important;
    background: #4cabcf !important;
  }
}
.dialog {
  margin-top: 10px;
  .unCheckColor{
    color:#ccc;
    border: 1px solid #ccc;
  }
  .checkColor{
    color: #50abca;
    border: 1px solid #50abca;
  }
}
.jianche-dialog {
  border-radius: 15px !important;
  
  .add-form-select {
    border: none;
    line-height: 2.5;
    margin-left: 10px;
    width: 140px;
    padding-left: 0px !important;
    border-radius: 6px;
    text-align: center;
    text-align-last: center;
    background: rgba(238,238,238,0.5);
    position: relative;

    
    &-jiantou{
      position: absolute;
      // right: 45px;
      // top: 15px;
      margin-right: -14px;
      margin-top: 15px;
      border-width: 7px;
      border-style: solid;
      border-color: #888888 transparent transparent transparent;
    }
  }

  .add-form-flex {
    flex:3 !important;
    border-radius: 16px;
    background: rgba(238,238,238,0.5);
    &-div{
      
      border-radius: 10px;
      // color: #50abca;
      padding: 3px;
      text-align: center;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .add-form-select-input-jiantou{
      position: absolute;
      bottom: 84px;
      right: 23px;
      border-width: 7px;
      border-style: solid;
      border-color: #888888 transparent transparent transparent;
    }
    input {
      text-align: center;
    }
  }
  .add-form-flex-biaoqian{
      display: flex;
      flex-wrap: wrap;
      flex:3 !important;
  }
}
.type-list::after{
  border-bottom: none !important;
}
.type-list::before{
  border-top: none !important;
}
.add-form-flex {
  .am-list-body::before{
      background-color: #fff !important;
    }
  .am-list-body::after{
    background-color:#fff !important;
  }
}


@charset "utf-8";

@import "../../../../resources/styles/mixins";

.jianche-yinchang {
  display: none;
}

.page-ask-indext {
    // background: #e5e5e5;
    height: 100%;
    .weui-dialog__btn_default{
      color: #fff !important;
      background-color: #4FABCA !important;
    }
    .weui-dialog__btn_primary{
      color: #fff !important;
      background-color: #4FABCA !important;
    }
    .selectDept{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background:rgba(0,0,0,0.6);
      z-index: 10000;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .contents{
              box-sizing: border-box;
              border-radius: 5px;
              background: #fff;
              width:100%;
              max-height:300px;
              height:auto;
              overflow:auto;   
              .titles{   
                  font-size:16px;
                  font-weight:bold;

              }
              .spe{
                  flex:1;
                  background:white;
                  height:40px;
                  line-height:80rpx;
                  text-align:center;
                  border-radius:5px;
                  font-size:15px;
                  color:#666;
                  padding-right: 10px;
                  position:relative;
                  border:1px solid #E6E6E6;
                  margin:10px;

                  i {
                      border:15rpx solid transparent;
                      border-top-color:#666;
                      position:absolute;
                      top:15px;
                      right:15px;

              }

              }
              
              .sp{
                  height:40px;
                  font-size:16px;
                  line-height: 40px;
                  text-align: center;
                  border-bottom:1px solid #E6E6E6;

              }
              .sp:last-child{
                  height:50px !important;
                  line-height: 50px !important;

              }
              .btn{
                   height:40px;
                  display:flex;
                  border-top:1px solid #E6E6E6;
                  line-height:40px;
                  text-align:center;
                  font-size:16px;
                  margin-top:20px;
                  p{
                      flex:1;
                      text-align:center;

                  }


              }

      }
  }
    .manageInfo{
        background: #e5e5e5;
        overflow-y:auto; 
        height: 100%;
     .patient{
         height:60px;
         line-height: 60px;
         display: flex;
         .pat-item{
             flex:1;
             text-align: center;
             font-size:15px;
             color:#333;
         }
         .active{
             color:#4cabcf;
             position:relative;
             span{
                width: 30%;
                border-bottom: 2px solid #4cabcf;
                display: block;
                position: absolute;
                left: 35%;
                bottom: 10px;
             }
         }
        
     }
     .infot{
        background: #fff;
        // padding: 0 10px 40px;
        margin: 0 20px;
        border-radius: 10px;
          .no-data{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
             img{
              width: 65px;
              height: 65px;
              margin-bottom: 15px;
             }
             >div{
              padding-bottom: 30px;
             }
          }
          .dept{
              border-radius: 10px 10px 0 0;
              height: 55px;
              line-height: 55px;
              text-align: center;
              display:flex;
              font-size:15px;
              color:white;
              background: #4cabcf;
              // border-bottom:1px dashed white;
              .dept-item{
                  flex:1;
                  position:relative;
                  img{
                    display: block;
                    width: 11px;
                    position: absolute;
                    right: 10px;
                    top: 25px;
                    height: 7px;
                    text-align: center;

                  }
              }
          }
          .type{
              height: 40px;
              margin-top: 12px;
              line-height: 40px;
              display:flex;
              font-size:16px;
              color:#333;
              .type-item{
                  flex:1;
                  text-align: center;
                  &-today{
                    line-height: 30px;
                  }
                  &-riqi{
                    line-height: 10px;
                    font-size: 10px;
                  }
              }
              .active{
                height: 100%;
                border-top-left-radius: 10px;
                -webkit-border-top-right-radius: 10px;
                -moz-border-radius-topright: 10px;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                color: #4cabcf;
                background: white;
              }
          }
          .left_active{
            border-top-right-radius:0px;

            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            border-bottom-right-radius: 10px;
           
          }
          .right_active{
            border-top-right-radius:10px;

            border-top-left-radius: 0px;
            border-bottom-left-radius: 10px;

            border-bottom-right-radius: 10px;
           
          }
          .sub_info{
              background: white;
            padding-bottom: 80px;
           
             .sub-title{
                  height:47px;
                  line-height: 47px;
                  text-align: center;
                  display:flex;
                  border-bottom:1px solid #f2f2f2;
                  .item{
                      flex:1;
                      img{
                        display: block;
                        margin: 0 auto;
                        padding-top: 8px;
                        text-align: center;
                        width: 14px;
                        height: 14px;

                      }
                      p{
                        font-size: 13px;
                        color: #4cabcf;
                        line-height: 25px;
                        text-align: center;
                      }
                  }
              }
              .main_info{
                  height:100%;
                  display: flex;
                  padding: 0 10px;
                  .name{

                      text-align: center;
                        flex: 1;
                        .p1{
                            text-align: center;
                            line-height: 20px;
                        }

                    }
                  .operate{
                    flex:1;
                  }
                  .time{
                    flex: 1;
                    text-align: center;
                  }
                  .item{
                     
                      height:40px;
                      padding-top: 10px;
                      text-align: center;
                      font-size: 13px;
                      p{
                          line-height: 30px;
                          color:#333;
                          text-align: center;
                      }
                      span{
                        width: 70px;
                        height: 30px;
                        line-height: 30px;
                        text-align: -webkit-center;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 20px;
                        display: inline-block;
                        color: white;
                        margin-left: 15px;
                        font-size: 15px;
                        background: #ea6ea4;
                      }
                  }

              }
          }

     }
   
    }


}