@charset "utf-8";

@import "../../../../resources/styles/mixins";


#app{
    height:100%;
    -webkit-overflow-scrolling: touch;
}
.wgt-app{ height:100%;
    -webkit-overflow-scrolling: touch;}
.wgt-container{height: 100%;
    -webkit-overflow-scrolling: touch;}
.f-color-red {
    color: red;
}
.weui-mask{
    position: fixed;
    z-index: 10000;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
}
.weui-dialog {
    position: fixed;
    z-index: 5000000;
    width: 80%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.container1 {
    
    .am-image-picker{
        input{
            position: absolute;
    top: 70px;
    left: 12px;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 55px;
    opacity: 0;
    overflow: visible;
        }
    }
    .ant-upload-list{
        display:none;
    }
    .modal{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background:rgba(0,0,0,0.6);
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        .modal-body{
            width: 75%;
            box-sizing: border-box;
            border-radius: 4px;
            background: #fff;
            margin-left:0;
            margin-top:0;
            .modal-title{
                padding: 25px 0 25px;
                font-size: 18px;
                color: #000;
                text-align: center;
            }
            .modal-content{
                padding: 0 13px 30px;
                overflow: auto;
                font-size: 15px;
                color: #888;
                line-height: 1.5;
                text-align: center;
            }
            .modal-footer{
                border-top: 1px solid #E5E5E5;
                display: flex;
                >span{
                    flex: 1;
                    box-sizing: border-box;
                    text-align: center;
                    color: #000;
                    font-size: 18px;
                    height: 50px;
                    line-height: 50px;
                    width: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:last-child{
                        border-left: 1px solid #d2d2d2;
                        color: #3ECEB6;
                    }
                }
            }
        }
    }
    .footer-btn {
        position: fixed;
        bottom: 0;
        border-top: 1px solid $hc-color-border;
        background-color: #fff;
        display: flex;
        flex-direction: end;
        font-size: 18px;
        height: 47px;
        line-height: 47px;
        width: 100%;
        .inquiry-item {
            padding-left: 15px;
            flex: 1;
            text-align: center;
            color: $hc-color-title;
            border-right: 1px solid $hc-color-border;
        }
        .evaluate-btn {
            width: 50%;
            padding: 0;
            margin: 0;
            background-color: $hc-color-primary;
            color: #fff;
            text-align: center;
            border-radius: 0px;
            border: none;
        }
    }
    height: 100%;
    background: #F2F2F2;
    .ant-upload-list{
        display:none;
    }
    .time{
        color:#333;
        font-size:15px;
        >span{
            color:#4dabc7;
            font-size:13px;
        }
    }
    .num{
        color:#333;
        font-size:15px;
        >span{
            color:#4dabc7;
            font-size:13px;
        }
    }
    .header1{
        display:block;
        align-items:center;
        height:44px;
        width:100%;
        background:white;
        color:#e11010;
        font-size:15px;
        line-height:44px;
        font-weight:bold;
        text-align:center;
       




    }
    .operation-box {
        height:auto;
        position:absolute;
        bottom:0;
        width:100%;
        z-index:10000000;
        background:#F9F9F9;
        left: 0;
        display: block;
        .top {
            display:flex;
            align-items: flex-end;
            height: auto;
            width:100%;
            box-sizing: border-box;
            padding: 8px 10px 8px 15px;
            border-bottom: 1px solid #D8D8D8;
            border-top: 1px solid #D8D8D8;
            textarea {
                flex: 5;
                height:54px;
                border: 1px solid #D8D8D8;
                color: #505050;
                font-size:12pt;

                padding: 10px 10px;
                background: #fff;
                resize:none;
            }
            .addBtn{
                line-height:30px;
                text-align:center;
                color:white;
                background:#4dabc7;
                font-size:14px;
                border-radius:6px;
                margin-left:8px;
                flex:1;

            }
            input,textarea{-webkit-appearance: none;appearance: none;}
            img {
                width: 26px;
                flex:0.6;
                margin-left: 10px;
                margin-bottom: 3px;

            }
        }
        .bottom {
            display:flex;
            align-items: center;
            flex-wrap: wrap;
            height: 90px;
            box-sizing: border-box;
            padding: 14px 15px 21px;
            background: #f8f8f8;
            img{
                width: 55px;
                height: 55px;
            }
        }
    }
    .header{
        height: 44px;
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #888;
        background: #fff;
        position: relative;
        width:100%;
        box-shadow:0 2px 4px 0 rgba(0,0,0,0.07);
       // top:41px;
       // left: 0;
        >div{
            padding-left:10px;
            flex: 1;
            >span,a{
                display: inline-block;
                margin-left: 50%;
                border-radius:3px;
                border:1px solid #4FABCA;
                line-height: 25px;
                font-size: 13px;
                color: #4FABCA;
                padding: 0 8px;
            }
            .endGrey{
                color:white;
                border:1px solid white;
                background: #cfcfcf;
            }
        }
        
    }
    .contents{
       // margin-top: 70px !important;
    }
    .content3{
         width: 100%;
        //box-sizing: border-box;
        //overflow: auto;
        height:85%;
        -webkit-overflow-scrolling: touch;

        overflow-y: scroll;

        flex: 1;
        


      }
    .card{
        width:100%;
        height:250px;
    }
    #margin{
        padding: 0px 15px 73px 15px;
        margin-top:0px;
    }
    .content2{
        width: 100%;
        //box-sizing: border-box;
        //overflow: auto;
        overflow-y: scroll;

            -webkit-overflow-scrolling: touch;

        margin-top: 0px;
        flex: 1;
        display:block;
        box-sizing: border-box;
        padding: 13px  15px 0px 15px;
        >.content-item{
            margin-bottom: 15px;
            .image img{
                max-width:105px;
            }
            .redColor{
                color:red !important;
            }
            >.msg{
                background: #D7D9DB;
                border-radius: 8px;
                padding: 5px 15px;
                font-size: 13px;
                color: #fff;
            }
           > .date {
                margin-bottom: 10px;
                text-align: center;
                font-size: 14px;
                color: #B2B2B2;
            }
        }
        .slide{
            position: relative;
            .rd{
                width:14px;
                height:19px;
                position: absolute;
                top:11px;
                left:15px;
            }
            .wid5{

            }
            .wid5{
                width:50px !important;
            }
            .wid6{
                width:80px !important;
            }
            .wid7{
                width:100px !important;
            }
            .wid8{
                width:120px !important;
            }
            .radio{
                height:40px;
                width:50px;
                padding:0 !important;
                margin-top:5px !important;
                .duration{
                    position:absolute;
                    left:120%;
                    bottom:7px;
                    font-size:12px;
                    width:10px;
                    color:#999;
                }
                .dura{
                    position:absolute;
                    left:120%;
                    width:20px;
                    bottom:7px;
                    font-size:12px;
                    color: #4FABCA;
                }
            }
            .trans{
                position:absolute;
                left:88px;
                width:23px;
                height:23px;
                border:1px solid #4FABCA;
                line-height:23px;
                text-align:center;
                border-radius:50%;
                font-size:12px;
                color:#4FABCA;
                bottom:6px;

            }
            .transH{
                position:absolute;
                left:88px;
                width:23px;
                height:23px;
                border:1px solid #999;
                line-height:23px;
                text-align:center;
                border-radius:50%;
                font-size:12px;
                color:#999;
                bottom:5px;

            }


        }
        .translate{
            width:250px;
            height: auto;
            background:white;
            border-radius:5px;
            padding:5px;
            text{
                font-size:14px;
                color:#333;
                height:50px;
                width:250px;
                overflow-x:scroll;
            }
            .tran{
                width: 58px;
                height: 12px;
            }
        }
        .left,.right{
            display: flex;
            align-items: flex-start;

            .img {
                min-width: 45px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                margin-right: 20px;
                overflow: hidden;
                background: #4FABCA;
                text-align: center;
                font-size: 10px;
                line-height: 45px;
                color: #fff;
            }
            .img img,.img > img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            .text{
                position: relative;
                padding: 10px 14px;
                background: #fff;
                border-radius: 5px;
                font-size: 15px;
                // max-width: 55%;
                color: #505050;
                white-space: normal;
                word-wrap: break-word;
                word-break:break-all;

            }

            .tip{
                position: absolute;
                top: -44px;
                right: 0;
                height: 15px;
                min-width: 146px;
                padding: 5px 0;
                box-sizing: border-box;
                background: #505050;
                border-radius:4px;
                font-size: 14px;
                color: #fff;
                &.no{
                    min-width: 98px;
                    &.nocopy{
                        min-width: 50px;
                    }
                }
                span{
                    display: inline-block;
                    line-height: 20px;
                    padding: 0 10px;
                    &:not(:last-child){
                        border-right: 1px solid #fff;
                    }
                }
                i {
                    border: 10px solid transparent;
                    border-top-color: #505050;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
            .flex {
                flex: 1;
            }
        }
        .left{
            padding:5px 0;
            .text{
                i {
                    border: 10px solid transparent;
                    border-right-color: #fff;
                    position: absolute;
                    top: 10px;
                    left: -28px;
                }
            }
        }
        .right{
            padding:5px 0;
            .img{
                margin-left: 20px;
                margin-right: 0;
            }
            .text {
                background: #ECFAFF;
                color: #4FABCA;
                >i {
                    border: 10px solid transparent;
                    border-left-color: #ECFAFF;
                    position: absolute;
                    top: 10px;
                    right: -28px;
                }
            }
        }
    }
    .endTxt{
        height:15px;
        width:100%;
        background: white;
        color:#e11010;
        font-size:15px;
        line-height: 15px;
        font-weight: bold;
        text-align: center;
        position:fixed;
        z-index:1000;


    }



}

.pingJia2{
    height:auto;
    display:none;
    position:fixed;
    background: white;
    width:100%;
    bottom:0;
    z-index:999;
    .title{
        font-size:15px;
        height:40px;
        line-height: 40px;
        text-align: center;
        color:#333;
        font-weight: bold;
    }
    .ping{
        width:auto;
        height:25px;
        margin:0 auto;

        .xing{
            font-size:15px;
            color:#333;
            display: block;
            width:auto;
            height:25px;
            line-height:25px;
            text-align: left;
            padding-left:25px;
            font-weight: bold;
            div{
                width:17px;
                display: inline-block;
                height:16px;
                margin-right:10px;
                img{
                    width:17px;
                    display: inline-block;
                    height:16px;
                    vertical-align: inherit;

                }
            }
        }
    }
    .conmidHeight{
        height:35px !important;
    }
    .conminHeight{
         height: 0 !important;
    }
    .ping-content{
        height:80px;
        margin:5px 25px;
        width:auto;
        .active{
            background:#4dabc7;
            color:white;
            border:1px solid #4dabc7;

        }
        div{
            border-radius:3px;
            margin-right:15px;
            margin-top:10px;
            width:85px;
            height:24px;
            float: left;
            color:#333;
            line-height: 24px;
            text-align: center;
            font-size:12px;
            border:1px solid #0b0205;
        }
    }
    .ping-info,.ping-time{
        margin:0px 25px 0 25px;
        word-wrap: break-word;
        word-break: break-all;
    }
    .text1{
        font-size:15px;
        font-weight: bold;
        color:#333;
    }
    .text2{
        color:#333;    
        white-space: normal;
        font-size:15px;
    }
    .consult-again{
        height:47px;
        margin:10px 25px;
        .again{
            background: #4dabc7;
            color:white;
            font-size:15px;
            width:100%;
            height:36px;
            line-height: 36px;
            text-align: center;
            border-radius:3px;
            display:block;
        }
    }

}
.showTxt{
    display:none !important;
}
.pingJia{
    height:auto;
    display:block;
    position:fixed;
    bottom:0;
    z-index:1;
    background: white;
    .title{
        font-size:15px;
        height:40px;
        line-height: 40px;
        text-align: center;
        color:#333;
        margin:0;

        font-weight: bold;
    }
    .ping{
        width:auto;
        height:40px;
        margin:0 25px;
        .xing{

            font-weight: bold;
        }
        .xing-dian {
            float: left;
            font-size: 15px;
            color: #333;
            display: block;
            width: 35%;
            margin-left:15px;
            text-align: left;
            height: 40px;
            line-height: 40px;
        }
        .xing{
            float: left;
            font-size:15px;
            color:#333;
            display: block;
            width:60%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            div{
                width:17px;
                display: inline-block;
                height:16px;
                margin-right:10px;
                img{
                    width:17px;
                    display: inline-block;
                    height:16px;

                        vertical-align: inherit;


                }
            }
        }


    }
    .ping-content{
        height:81px;

        margin:1px auto;
        width:100%;
        .active{
            background:#4dabc7;
            color:white;
            border:1px solid #4dabc7;

        }
        div{
            border-radius:3px;
            margin-left:25px;
            margin-top:10px;
            width:85px;
            float: left;
            height:24px;
            color:#333;
            line-height: 24px;
            text-align: center;
            font-size:12px;
            border:1px solid #0b0205;
        }
    }
    .ping-area{
        height:81px;
        width:auto;
        margin:0 25px;
        border:1px solid #0b0205;
        font-size:10px;
        //position:relative;
        div{
            position: absolute;
            bottom: 73px;
            right: 37px;
            color: #999;
            font-size: 10px;

        }
        textarea{
            height: 71px;
            width: 100%;
            font-size: 13px;
            padding: 5px;
            resize: none;
            border: none;

        }
    }
    .ping-btn{
        margin:10px 25px;
        height:47px;
        width: auto;
        display:flex;
        button,.again{
            float: left;
            width:145px;
            height:36px;
            flex:1;
            font-size:15px;
            line-height: 36px;
            text-align: center;
            border-radius:3px;
        }
        .btn1{
            border:1px solid #4dabc7;
            color:#4dabc7;
            background: white;
        }
        .btn2{
            color:white;
            margin-left:14px;
            background: #4dabc7;
        }

    }
}