@charset "utf-8";

@import "../../../../resources/styles/mixins";

.modal-tip{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,0.6);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-title {
        padding: 25px 0 8px;
        font-size: 18px;
        color: $hc-color-title;
        text-align: center;
    }
    .modal-body-tip{
        text-align: left;
        width: 75%;
        overflow: auto;
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        .modal-content-tip {
            padding: 0 14px 15px;
            overflow: auto;
            font-size: 15px;
            color: $hc-color-gray;
            line-height: 1.5;
            text-align: center;
            .content-item {
                padding-bottom: 10px;
            }
        }

    }
    .modal-footer-tip{
        border-top: 1px solid $hc-color-border;
        display: flex;
        background-color:#fff;
    }
    .modal-footer-tip>span{
        flex: 1;
        box-sizing: border-box;
        text-align: center;
        color: $hc-color-primary;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.tarbar{
    height:auto;
    width:100%;
    display:flex;
    position:fixed;
    bottom:0;
    background:#f9f9f9;
    border-top:0.5px solid #d6d6d6;
    align-items:center;
    text-align:center;
    font-size:14px;
    color: #797979;
    div{
        flex:1;
        .num{
            width:16px;
            height:15px;
            background:red;
            display:block;
            position:absolute;
            border-radius:50%;
            color:white;
            z-index:1111111;
            right:45%;
            top:5%;

        }
        img{
            height:22px;
            width:22px;
            padding:5px 0 0 0;

        }
    }
}
.no-data{
    text-align: center;
    padding-top: 100px;
    font-size: 16px;
    color: $hc-color-text;
    img{
        width: 125px;
        height: 125px;
        margin-bottom: 25px;
    }
}
.page-home {
    .page-home .content .o-tab .msg-item:after {
        content: ' ';
        position: absolute;
        right: 15px;
        top: 50%;
        width: 9px;
        height: 9px;
        border-right: 2px solid #c7c7cc;
        border-bottom: 2px solid #c7c7cc;
        -webkit-transform: translate(-4px, -50%) rotate(-45deg);
        -moz-transform: translate(-4px, -50%) rotate(-45deg);
        -ms-transform: translate(-4px, -50%) rotate(-45deg);
        transform: translate(-4px, -50%) rotate(-45deg);
    }
    .tarbar{
        height:auto;
        width:100%;
        display:flex;
        position:fixed;
        bottom:0;
        background:#f9f9f9;
        border-top:0.5px solid #d6d6d6;
        align-items:center;
        text-align:center;
        font-size:14px;
        color: #797979;
        div{
            flex:1;
            .num{
                width:16px;
                height:15px;
                background:red;
                display:block;
                position:absolute;
                border-radius:50%;
                color:white;
                z-index:1111111;
                right:45%;
                top:5%;

            }
            img{
                height:22px;
                width:22px;
                padding:5px 0 0 0;

            }
        }
    }
    .header {
        width: 100%;
        height: 138px;
        img {
            height: 138px;
            width: 100%;
        }
    }
    ::-webkit-scrollbar {

        display:none
    }
    .content {
        position: relative;
        top: -31px;
        padding: 0 10px;
        .title1 {
            height: 29px;
            line-height: 9px;
            font-size: 17px;
            padding: 15px;
            color: $hc-color-title;
            background-color: #fff;
            border-bottom: 1px solid $hc-color-border;
            div
            {
                position: absolute;
                right: 40px;
                top:25px;
            }

        }
        .titleh {
            height: 29px;
            line-height: 29px;
            font-size: 17px;
            padding: 15px;
            color: $hc-color-title;
            background-color: #fff;
            border-bottom: 1px solid $hc-color-border;
            div
            {
                position: absolute;
                right: 40px;
                top:25px;
            }

        }
        .head-des {
            // background-color: #fff;
        }
        .f-pa {
            position: relative;
            margin-bottom: 10px;
            /* z-index: 99999; */
            border-radius: 4px;
            background: #fff;
            /* box-shadow:0px 10px 5px #000; */
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
        }
        .d-tab {
            position: relative;
            display: flex;
            align-items: center;
            padding: 15px 0;
            margin-left: 15px;
            &:not(:last-child){
                border-bottom: 1px solid $hc-color-border;
            }
            &:after {
                content: ' ';
                position: absolute;
                right: 15px;
                top: 50%;
                width: 9px;
                height: 9px;
                border-right: 2px solid #c7c7cc;
                border-bottom: 2px solid #c7c7cc;
                transform: translate(-4px, -50%) rotate(-45deg);
            }
        }
        .d-tab > div {
            width: 80%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            .icon {
                margin: 0 30px 0 0;
                img {
                    width: 40px;
                    height: 32px;
                }
            }
            .text > div:first-child {
                font-size: 17px;
                color: $hc-color-title;
                margin-bottom: 6px;
            }
            .text > div:last-child {
                font-size: 14px;
                color: $hc-color-gray;
            }
        }
        .rightTab {
            position: relative;
            display: flex;
            align-items: center;
            &:not(:last-child){
                border-bottom: 1px solid $hc-color-border;
            }
            &:after {
                content: ' ';
                position: absolute;
                right: 15px;
                top: 50%;
                width: 9px;
                height: 9px;
                border-right: 2px solid #c7c7cc;
                border-bottom: 2px solid #c7c7cc;
                transform: translate(-4px, -50%) rotate(-45deg);
            }
        }
        .doctor{
            width:100%;
            height:100%;
            margin-bottom:10px;
            background: white;
            overflow: hidden;
            .content1{
                display: flex;
                width: auto;
                height: 140px;
                padding-left: 0;
                overflow-x: scroll;
                div{
                    flex:1;
                    a{

                        width:auto;
                        display:block;
                        padding:0 5px;
                        img{
                            width:45px;
                            height:45px;
                            margin:5px 25px;
                            text-align: center;
                            border-radius: 50%;
                            border:1px solid #91cbde;
                        }
                        div{
                            display:block;
                            width:100px;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;


                        }
                        .txt1{
                            font-size:15px;
                            color:#4eabca;
                            height:30px;
                            line-height: 30px;
                            text-align: center;
                            font-weight: bold;
                        }
                        .txt2{
                            font-size:14px;
                            color:#666;
                            height:20px;
                            line-height: 20px;
                            text-align: center;
                        }
                    }

                }
            }
        }
        .b-tab {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            background: #fff;
            /* padding: 40rpx 30rpx 45rpx;  */
            margin-bottom: 10px;
            border-radius: 2px;
        }

        .b-tab > a {
            padding: 20px 0 23px 15px;
            width: 50%;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:nth-child(1) {
                border-right: 1px solid $hc-color-border;
                border-bottom: 1px solid $hc-color-border;
            }
            &:nth-child(2) {
                border-bottom: 1px solid $hc-color-border;
            }
            &:nth-child(3) {
                border-right: 1px solid $hc-color-border;
            }
            .icon {
                margin: 0 15px;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
            .text > div{
                &:first-child {
                    font-size: 17px;
                    color: #2d2d2d;
                    margin-bottom: 6px;
                }
                &:last-child {
                    font-size: 14px;;
                    color: #989898;
                }
            }
        }

        .o-tab {
            position: relative;
            display: flex;
            background: #fff;
            padding: 14px 0 0;
            margin-bottom: 20px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
            border-radius: 4px;
            .msg-item {
                img {
                    width: 17px;
                    height: 17px;
                    padding-top: -5px;
                }
                &:after {
                    content: ' ';
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    width: 9px;
                    height: 9px;
                    border-right: 2px solid #c7c7cc;
                    border-bottom: 2px solid #c7c7cc;
                    transform: translate(-4px, -50%) rotate(-45deg);
                }
            }
        }
        .o-tab > div{
            &:first-child {
                width: 40px;
                margin-top: -5px;
                box-sizing: border-box;
                padding-left: 15px;
                color: #797979;
            }
            &:last-child {
                flex: 1;
                img {
                    width: 15px;
                    height: 15px;
                    padding-top: -5px;
                }
            }
            &:last-child > div {
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 14px;
                color: $hc-color-text;
                position: relative;
                margin-bottom: 10px;
            }
        }
        .o-tab > div:last-child > div > span {
            flex: 1;
            color: $hc-color-gray;
        }

        .o-tab > i {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #d0021b;
            position: absolute;
            right: 33px;
            top: 45%;
        }
    }

    .function {
        background: #fff;
        margin-bottom: 10px;
        padding: 12px 0 21px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
        border-radius: 4px;
        .icon{
            img {
                width: 40px;
                height: 40px;
            }
        }
        .title {
            height: 35px;
            font-size: 17px;
            padding-left: 14px;
            color: $hc-color-title;
        }
        .box {
            display: flex;
            align-items: center;
        }
        .box > a {
            width: 25%;
            box-sizing: border-box;
            text-align: center;
            margin: 5px auto;
            .text {
                font-size: 14px;
                color: #505050;
            }
        }
    }
    .modal-tip{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background:rgba(0,0,0,0.6);
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        .modal-title {
            padding: 25px 0 8px;
            font-size:18px;
            color: $hc-color-title;
            text-align: center;
        }
        .modal-body-tip{
            text-align: left;
            width: 75%;
            overflow: auto;
            box-sizing: border-box;
            border-radius: 4px;
            background: #fff;
            .modal-content-tip {
                padding: 0 14px 15px;
                overflow: auto;
                font-size: 15px;
                color: $hc-color-gray;
                line-height: 1.5;
                text-align: center;
                .content-item {
                    padding-bottom: 10px;
                }
            }

        }
        .modal-footer-tip{
            border-top: 1px solid $hc-color-border;
            display: flex;
            background-color:#fff;
        }
        .modal-footer-tip>span{
            flex: 1;
            box-sizing: border-box;
            text-align: center;
            color: $hc-color-primary;
            font-size: 18px;
            height: 50px;
            line-height: 50px;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}