<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <title></title>
    <link rel="stylesheet" href="/components_modules/common/common.css"><!--ignore-->
    <link rel="stylesheet" href="/components_modules/weui/weui.css">
    <link rel="stylesheet" href="/components_modules/iconfont/iconfont.css">
    <link rel="stylesheet" href="./resources/styles/common.scss">
    <!--STYLE_PLACEHOLDER-->
</head>
<body ontouchstart style="background:#F2F2F2">
<!-- livereload -->
<div id="app"></div>
<div id="J_title_iframe" style="width: 0;height: 0;overflow: hidden;"></div>
<script src="/components_modules/common/common.js"></script><!--ignore-->
<script src="/components_modules/mod/mod.js" data-loader="true"></script>
<!--
<script src="//smp.med.gzhc365.com/components_modules/vconsole/vconsole.min.js" data-loader="true"></script>
-->
<!--SCRIPT_PLACEHOLDER-->
<script>require(['App.jsx'])</script><!--ignore-->
</body>
</html>
