.wenjuan-list {
    display: flex;
    justify-content: space-between;
}

.wenjuan-cells {
  border-radius: 0 0 15px 15px;
  padding: 0 10px 15px 0;
}
.wenjuan-tabone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.wenjuan-tabtwo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.wenjuan-flex-list {
  margin-top: 1.25em;
}
.wenjuan-flex-list-item {
  text-align: center;
}