@charset "utf-8";

@import "../../../../resources/styles/mixins";
.page-confirm-check{
    .rightTab {
        position: relative;
        display: flex;
        align-items: center;
        &:not(:last-child){
            border-bottom: 1px solid $hc-color-border;
        }
        &:after {
            content: ' ';
            position: absolute;
            right:7px;
            top: 50%;
            width: 9px;
            height: 9px;
            border-right: 2px solid #c7c7cc;
            border-bottom: 2px solid #c7c7cc;
            transform: translate(-4px, -50%) rotate(-45deg);
        }
    }
    .user-info{
        background: white;
        .info-item{
            height: 40px;
            line-height: 40px;
            display: flex;
            padding: 0 10px;
            color: #333;
            font-size: 14px;
            position:relative;
            border-top: 1px solid #e8e8e8;
            p{
                &:first-child{
                    flex: 0.5;
                }
                &:last-child{
                    flex: 1.5;
                }
            }
            input{
                height: 100%;
                font-size:14px;
                border: none;
            }
            img{
                width: 15px;
                height: 15px;
                position: absolute;
                right: 12px;
                top: 13px;
            }
        }
    }
    .check-item{
        margin-top: 10px;
        background: white;
       
        .item{
            display: flex;
            height: 40px;
            border-bottom: 1px solid #e8e8e8;
            line-height: 40px;
            font-size:14px;
            padding: 0 10px;
            p{
                &:first-child{
                    flex: 0.5;
                }
                &:last-child{
                    flex: 1.5;
                }
            }
        }
        .item-info{
            display: flex;
            padding-left: 10px;
            .item-name{
                flex: 0.5;
                line-height: 40px;
                font-size: 14px;
            }
            .items{
                flex: 1.5;
                font-size: 12px;
                .info{
                    border-bottom: 1px solid #e8e8e8;
                    display: flex;
                    height: 40px;
                    line-height: 40px;
                      p{
                        &:first-child{
                            flex: 0.5;
                        }
                        &:last-child{
                            flex: 0.4;
                            text-align: right;
                        }
                      }                 
                    
                }
            }
            
        }
        .fee{
            height: 40px;
            line-height: 40px;
            font-size: 10px;
            color: #333;
            padding:0 10px;
            text-align: right;
            span{
                font-size: 14px;
                color: #ff840c;
            }
        }
    }
    .check-status{
        margin-top: 10px;
        background: white;
        .register-info{
            height: 60px !important;
            line-height: 60px !important;
            .info-title{
                padding-bottom: 23px;
            }
            .info-text{
                line-height: 22px !important;
                padding-right:10px;
            }
        }
        .status-item{
            height: 40px;
           display: flex;
           padding: 0 10px;
            line-height: 40px;
            font-size: 14px;
            border-bottom: 1px solid #e8e8e8;

           p{
            &:first-child{
                flex: 0.5;
                
            }
            &:last-child{
                flex: 1.5;
                line-height: 40px;
                align-items: flex-end;
            }

           }
        }
    }
    .submit-btn{
        height: 40px;
        width: auto;
        background: #4dabc7;
        color: white;
        font-size: 15px;
        margin: 10px;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        }
        .submit-grey{
            height: 40px;
            width: auto;
            background: #cfcfcf;
            color: white;
            font-size: 15px;
            margin: 10px;
            line-height: 40px;
            text-align: center;
            border-radius: 5px;
            }
        .register-tip{
            padding: 0 10px 10px;
            p{
                font-size: 10px;
                color: #666;
            }
        }

}