@charset "utf-8";

@import "../../../../resources/styles/mixins";

.page-artical {
    background-color: #fff;

    padding: 20px 25px 50px;
    .artical-title {
        color: $hc-color-title;
        font-size: 20px;
    }
    .artical-time {
        font-size:13px;
        color: $hc-color-gray;
    }
    .artical-content {
        padding:25px 0;
        .content-item {
            font-size: 15px;
            color: $hc-color-text;
            padding-bottom: 8px;
        }
        .content-foot {
            font-size: 15px;
            float: right;
            color: $hc-color-title;
            padding-bottom: 8px;
        }
    }
}