@charset "utf-8";

@import "../../../resources/styles/mixins";


.page1-paymail {

    .fee-box {
        height: 134px;
        background-color: #fff;
        // margin-bottom: 10px;
        margin: 10px;
        border-radius: 12px;
        .warm-tip1 {
            height: 30px;
            background-color: #ECFAFF;
            color: $hc-color-primary;
            font-size: 15px;
            text-align: center;
            line-height: 30px;
        }
        .fee-item{
            height: 104px;
            font-size: 34px;
            font-weight: 600;
            color: #FF613B;
            text-align: center;
            padding-top: 15px;
            .des-fee {
                font-size: 14px;
                color: #989898;
            }
        }
    }
    .mm-list {
        padding: 15px 0;
        // margin-top: 10px;
        margin: 10px;
        border-radius: 12px;
        background-color: #fff;
        .title {
            padding-left: 15px;
        }
        .list {
            padding-top: 8px;
            .list-item {
                padding: 8px 15px;
                font-size: 15px;
                display: flex;
                align-items: center;
                .item-label {
                    color: $hc-color-gray;
                    min-width: 5em;
                    img{
                        width: 22px;
                        margin-right: 10px;
                    }
                }
                .item-value {
                    color: $hc-color-title;
                    flex: 1;
                    word-wrap: break-word;
                    white-space: pre-wrap;
                    text-align: right;
                    overflow: hidden;
                    margin-left: 10px;
                }
            }
            .itrem{
                border-top: 1px solid #ccc;
                margin: auto 10px;
            }
        }
    }
    .mm-sendmail{
        // margin-top: 10px;
        margin: 10px;
        border-radius: 12px;
        background-color: #fff;
        .list-item {
            padding: 8px 15px;
            font-size: 15px;
            display: flex;
            align-items: center;
            .item-label {
                color: $hc-color-gray;
                min-width: 5em;
                img{
                    width: 22px;
                    margin-right: 10px;
                }
            }
            .item-value {
                color: $hc-color-title;
                flex: 1;
                word-wrap: break-word;
                white-space: pre-wrap;
                text-align: right;
                overflow: hidden;
                margin-left: 10px;
            }
        }
    }
    .list-tit {
        padding: 0 15px;
        font-weight: 600;
        font-size: 14px;
        color: $hc-color-title;
    }
    .beizhu-tishi{
        padding: 10px 15px;
        font-size: 13px;
        color: rgb(255, 0, 0);
    }
    .beizhu-tishi-two{
        padding: 10px 15px;
        font-size: 13px;
        span{
            color: rgb(255, 0, 0);
        }
    }

    .btn{
        margin: 30px auto;
        .submit-btn {
            background-color: $hc-color-primary;
            color: #fff;
            border:none;
            font-size: 18px;
            height: 47px;
            margin:  20px auto;
            position:relative;
            display:block;
            width:332px;
            padding-left:14px;
            padding-right:14px;
            box-sizing:border-box;
            text-align:center;
            text-decoration:none;
            line-height:2.55555556;
            border-radius:5px;
            -webkit-tap-highlight-color:transparent;
            overflow:hidden;


        }
    }
}