@charset "utf-8";

@import "../../../../resources/styles/mixins";

.bandTip{
    padding:1px 10px;
    color:#888;
    font-size: 15px;
}
.u-page{
    .bandTip{
        padding:1px 10px;
        color:#888;
        font-size: 15px;
    }
}

.bindTip {
    width:307px;
    height:434px;
}

.m-card{
    height:auto;
    width:auto;
    display:block;

    margin: 10px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02);
    position: relative;

    &:after{
        content: ' ';
        position: absolute;
        right: 15px;
        top: 50%;
        width: 9px;
        height: 9px;
        border-right: 3px solid #C7C7CC;
        border-bottom: 3px solid #C7C7CC;
        transform: translate(-4px, -50%) rotate(-45deg);
    }

    .card-info{
        padding:20px 0 18px;
    }
    .info-main{
        display: flex;
        align-items: flex-start;
        padding-left: 2px;
    }
    .main-name{
        display: flex;
        align-items: center;
        flex: 1;
    }
    .name{
        font-size: 19px;
        font-weight: bold;
        //height: 37px;
    }
    .status{
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        color:$hc-color-gray;
        margin-left: 8px;
        border:1px solid $hc-color-gray;
        border-radius: 2px;
        padding: 0 4px;
    }
    .info-extra{
        margin-top: 10px;
        color:$hc-color-gray;
        font-size: 14px;
    }
}

.m-adduser{
    padding: 25px 19px 24px 15px;
    background-color: #fff;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02);
    position: relative;
    display: flex;
    div:nth-child(1) {
        padding-right: 15px;
    }
    img {
        width: 50px;
        height: 50px;
    }
    &:after{
        content: ' ';
        position: absolute;
        right: 15px;
        top: 50%;
        width: 9px;
        height: 9px;
        border-right: 3px solid #C7C7CC;
        border-bottom:3px solid #C7C7CC;
        transform: translate(-4px, -50%) rotate(-45deg);
    }

    .add-title{
        font-size: 17px;
    }
    .add-text{
        font-size: 14px;
        color: $hc-color-gray;
    }

}