@charset "utf-8";
@import "../../../../resources/styles/mixins";
 
.page-suggestion{
    .suggestItem{
        padding: 0 20px;
        .subSuggestItem{
            border-radius: 10px;
            margin-top: 10px;
            padding: 20px ;
            padding-bottom: 0;
            
            .weui-media-box{
                padding: 0 !important;
            }
            .sugText{
              
              line-height: 30px;
               font-size:16px ;
               p{
                   display: flex;
                .sugtitle{
                    color: #999999;
                    //flex: 0 0 120px;
                    display:inline-block;
                 // text-align-last: justify;
                    //text-align:justify;
              
              .sugtext{
                 // flex: 1;
                  color: black !important;
                  overflow: hidden; 
                  text-overflow: ellipsis;
                  white-space: nowrap;
              }
               }
            }
              
              .line{
                  margin-top: 10px;
                  background-color: #ccc;
                  height: 1px;
                  border: none;

              }
            }
            .queryDetails{
                height:44px;
                line-height: 44px;
                display: flex;
                justify-content: space-between;
                .Details{
                color: #50abca;
            }
                .goToDetial{
                    display: flex;
                    align-items: center;
                    color: #999999;
                    img{
                        height:20px;
                        margin-left:16px;
                    }
                }
        }
        
     }
       .sugtImg{
        position: fixed;
        bottom: 80px;
        right: 20px;
            img{
                
                width: 40px;
                height: 40px;
              
            }
        }     
    }
    .no-data{
        height: 100% !important;
        .noSuggestTip{
            color: $hc-color-gray
        }
        .goIcon{
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50px;
        width: 100%;
        background-color: #fff;
        line-height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .go{
             display: inline-block;
             text-align: center;
             width:100px;
        }
        .goBack{
           font-size:40px;
          
        }
        .goNext{
            font-size:40px;
        }
    }
    }
}
.weui-media-box__desc{
    color: black !important;
}
