@charset "utf-8";

@import "../../../../resources/styles/mixins";

.page-site-docintro{

    .g-info{
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .m-info{
        flex-direction: row;
        padding: 10px 15px;
        background: #fff;

        .info-item{
            align-items: center;
        }
    }
    .m-detail{
        flex: 1 1 auto;
        margin-top: .15rem;
        max-height: 999999px;
        line-height: 1.8;
        white-space: pre-wrap;
    }
}