$hc-color-primary: #4FABCA;
$hc-color-pink: #EB6CA4;
$hc-color-title: #000000;
$hc-color-text: #353535;
$hc-color-gray: #888888;
$hc-color-info: #b2b2b2;
$hc-color-warn: #FFA14E;
$hc-color-error: #F76260;
$hc-color-bg: #f4f9f9;
$hc-color-border: #e9e9e9;

$primary-color: #0f7db5;
$info-color: #0ae;
$warn-color: #f57f17;
$danger-color: #f00;
$fail-color: $danger-color;

$title-color: #4c4c4c;
$text-color: #989898;

$border-color: #e8e8e8;

$body-color: #f2fbff;

@mixin setTopLine($c: $border-color) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid $c;
    color: $c;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}

@mixin setBottomLine($c: $border-color) {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $c;
    color: $c;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}

@mixin setLeftLine($c: $border-color) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid $c;
    color: $c;
    transform-origin: 0 0;
    transform: scaleX(0.5);
}

@mixin setRightLine($c: $border-color) {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid $c;
    color: $c;
    transform-origin: 100% 0;
    transform: scaleX(0.5);
}

@mixin setBorder($c: $border-color) {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.5);
    transform-origin: 0 0;
    box-sizing: border-box;
}
