@charset "utf-8";

@import "../../../../resources/styles/mixins";

.page-register-info{
    .info{
        .register-title{
            margin-top: 20px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            color: #333;
        }
        .register-text{
            padding: 0 10px;
            font-size: 15px;
            color: #333;
            line-height: 25px;
        }
    }
}