@charset "utf-8";

@import "../../../../resources/styles/mixins";

.page-check-info {
    .reportInfo{
        margin-top: 44px;
        background: white;
        .infoTop{
            height: auto;
            padding: 10px;
            p{
                font-size: 14px;
                font-weight: bold;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
            .qrCode{
                height: 50px;
                margin:0 55px;
            }
        }
        .infoBasic,.userInfo,.itemInfo{
            height: auto;
            padding: 10px;
            font-size:12px;
            border-bottom: 1px solid #cfcfcf;
          div{
            display: flex;
            height: 35px;
            line-height: 35px;
            text-align: left;
            p{
               font-size: 12px;
                text-align: left;
                &:first-child{
                    flex: 1.2;
                }
                &:last-child{
                    flex: 1;
                }
            }
          }
        }
        .payFee{
            height: 40px;
            line-height: 40px;
            font-size:12px;
            color:#333;
            padding:0 10px;
            text-align: right;
            span{
                font-size:15px;
                font-weight:bold;
                color:#ff2020;
            }
        }
        .doctorInfo{
            height: 100px;
            position:relative;
            padding: 10px;
            font-size:12px;
            .net{
                position: absolute;
                top: 15px;
                right: 10px;
                border: 1px solid #ff2020;
                width: 130px;
                color: #ff2020;
                padding: 0 5px;
                text-align: center;
                .name{
                    font-weight:bold;
                }
                p{
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                }
            }
            img{
                position:absolute;
                right:10px;
                width:156px;
                height: 53px;
                top:20px;
            }
            p{
                height: inherit;
                line-height: 80px;
                text-align: left;
            }
        }

    }

    
}