@charset "utf-8";

@import "../../../../resources/styles/mixins";


//就诊人列表页面
.u-page{
    //提示
    .bandTip{
        padding:1px 10px;
        color:#888;
        font-size: 15px;
    }
}
//弹窗
.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,0.6);
    z-index: 100;
    // display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .modal-body-register{
        width: 80%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background: #fff;
        margin-left: 10%;
        margin-top: 30%;
        .modal-img-register{
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 50px 0px 0px;
            img {
                width: 155px;
                height: 155px;
                display: block;
                margin: 0 auto;
            }
            p{
                width: 100%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 15px;
                color: #333;
            }
        }
        .modal-content-register{
            width: 100%;
            color: #4eabca;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
        .modal-btn-register{
            height:100%;
            >div{
                border: 1px solid #4eabca;
                color: #4eabca;
                font-size: 15px;
                border-radius: 5px;
                box-sizing: border-box;
                text-align: center;
                height: 44px;
                line-height: 44px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                margin: 23px 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

//就诊人列表
.m-card{
    height:auto;
    width:auto;
    display:block;
    margin: 10px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02);
    position: relative;
    &:after{
        content: ' ';
        position: absolute;
        right: 15px;
        top: 50%;
        width: 9px;
        height: 9px;
        border-right: 3px solid #C7C7CC;
        border-bottom: 3px solid #C7C7CC;
        transform: translate(-4px, -50%) rotate(-45deg);
    }
    .card-info{
        padding:20px 0 18px;
    }
    .info-main{
        display: flex;
        align-items: flex-start;
        padding-left: 2px;
    }
    .main-name{
        display: flex;
        align-items: center;
        flex: 1;
    }
    .name{
        font-size: 19px;
        font-weight: bold;
        color:#000;
        //height: 37px;
    }
    .status{
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        color:$hc-color-gray;
        margin-left: 8px;
        border:1px solid $hc-color-gray;
        border-radius: 2px;
        padding: 0 4px;
    }
    .info-extra{
        margin-top: 10px;
        color:$hc-color-gray;
        font-size: 14px;
    }
}
//添加就诊人
.m-adduser{
    padding: 25px 19px 24px 15px;
    background-color: #fff;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.02);
    position: relative;
    display: flex;
    div:nth-child(1) {
        padding-right: 15px;
    }
    img {
        width: 50px;
        height: 50px;
    }
    &:after{
        content: ' ';
        position: absolute;
        right: 15px;
        top: 50%;
        width: 9px;
        height: 9px;
        border-right: 3px solid #C7C7CC;
        border-bottom:3px solid #C7C7CC;
        transform: translate(-4px, -50%) rotate(-45deg);
    }

    .add-title{
        font-size: 17px;
    }
    .add-text{
        font-size: 14px;
        color: $hc-color-gray;
    }

}