@charset "utf-8";

@import "../../../../resources/styles/mixins";

.page-report-list {
    .weui-dialog__hd {
        padding: 0.5em 1.6em 0.5em;
    }
    .person{
        margin-top: 44px;
        display: flex;
        padding: 0 10px;
        height: 45px;
        line-height: 45px;
        background: white;
        font-size: 15px;
        .active{
            color: #4fabca;
            .len2{
                width: 48px;
            }
            .len3{
                width: 60px;
            }
            .len4{
                width:76px;
            }
            span{
                width: 48px;
                height: 1px;
                left: -8px;
                display: block;
                bottom: 0px;
                z-index: 1000;
                background: #4fabca;
                position: relative;
            }
        }
        p{
            flex: 1;
        }
    }
   .reportList{
    height: auto;
    margin-top: 10px;
    .reportItem{
        background: white;
    margin-top: 10px;
    height: 100%;  
    text-align: left;
    .reportPerson{
      
        padding: 0 10px;
        height: 50px;
        position: relative;
        .yes{
            display: block;
            top: 10px;
            position: absolute;
            right: 10px;
            width: 84px;
            font-size: 14px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            background: #ff8d3c;
            border-radius: 5px;
            color: white;
        }
        .already{
            display: block;
            top: 10px;
            position: absolute;
            right: 10px;
            width: 84px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            background: #ff8d3c;
            border-radius: 5px;
            color: white;
            font-size: 12px;
        }
        .no{
            display: block;
            top: 10px;
            position: absolute;
            right: 10px;
            width: 84px;
            height: 28px;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
            background: #ccc;
            border-radius: 5px;
            color: white;
        }
      
        .time{
            font-size: 13px;
            color: #2c2c2c;
            height: 50px;
            line-height: 50px;
            align-items: flex-start;
        }
    }
    .checkItem{
        height: 45px;
        border-top: 1px solid #e9e9e9;
        padding: 0 10px;
        line-height: 45px;
        .name{
            font-size: 13px;
            color: #333;
            display: flex;
            height: 45px;
            line-height: 45px;
            align-items: flex-end;
        }
        .rightTab {
            position: relative;
            display: flex;
       
        &:after {
             content: ' ';
             position: absolute;
             right: 0px;
             top: 50%;
             width: 7px;
             height:7px;
             border-right:2px solid #cfcfcf;
             border-bottom: 2px solid #cfcfcf;
             transform: translate(-4px, -50%) rotate(-45deg);
         }
        }
    }

    
    }
   }
}